.header {
    background-color: black;
    padding: 10px 0;
}

.nav {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav .link {
    color: #f2f2f2;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2vw 2.5vw;
    font-size: 3vw;
    margin: 0 15px;
}

.nav .link:hover {
    color: #1AC6FB;
    text-decoration: underline;
}

@media (min-width: 720px) {
    .nav .link {
        padding: 16px 20px;
        font-size: 20px;
    }

    .nav .logo1 {
        display: inline;
        margin-left: 0.75%;
    }

    .nav .logo2 {
        display: none;
    }
}

.nav .logo1 {
    display: none;
}

.nav .logo2 {
    width: 8%;
    float: left;
}

#current-page {
    background-image: linear-gradient(0deg, #1AC6FB 0%, #086AB1);
    border: none;
    font-weight: bold;
    color: white;
}
